[submodule "opt/nerdtree"]
	path = opt/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "opt/vim-fugitive"]
	path = opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "opt/vim-pydocstring"]
	path = opt/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring
[submodule "opt/tagbar"]
	path = opt/tagbar
	url = https://github.com/preservim/tagbar
[submodule "opt/vim-airline"]
	path = opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "opt/vim-airline-themes"]
	path = opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "opt/coc-nvim"]
	path = opt/coc-nvim
	url = https://github.com/neoclide/coc.nvim
        branch = release
[submodule "opt/lh-vim-lib"]
	path = opt/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib
[submodule "opt/nerdtree-git-plugin"]
	path = opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "opt/vim-devicons"]
	path = opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "opt/nerdcommenter"]
	path = opt/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "opt/vim-snippets"]
	path = opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "opt/vim-code-dark"]
	path = opt/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "opt/fzf-vim"]
	path = opt/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "opt/fzf"]
	path = opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "opt/fzf-devicon"]
	path = opt/fzf-devicon
	url = https://github.com/coreyja/fzf.devicon.vim
[submodule "opt/vim-dadbod"]
	path = opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "opt/vim-instant-markdown"]
	path = opt/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "opt/vim-which-key"]
	path = opt/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "opt/vim-nerdtree-syntax-highlight"]
	path = opt/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "opt/vim-lastplace"]
	path = opt/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "opt/vim-gitgutter"]
	path = opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "opt/MatchTagAlways"]
	path = opt/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "opt/vista"]
	path = opt/vista
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "opt/vim-jsx-typescript"]
	path = opt/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "opt/typescript-vim"]
	path = opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
